@import url("https://use.typekit.net/rip1jzj.css");
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat",sans-serif;
}
.card{
    display: flex;
    width: fit-content;
    /* outline: red solid 2px; */
    height: 22.4em;
}
.card-product{
    width: 15em;
}
#perfume{
    max-width: 15em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-desc{
    /* background-color: fuchsia; */
    width: 15em;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* outline: blue solid 2px; */
    height: 22.3em;
    background-color: #fff;
}
.card-desc > *{
    margin-inline: 15px;
}
.card-desc h2{
    margin-top: -5px;
    color: hsl(212, 21%, 14%);
}
.card-desc p{
    margin-top: -5px;
    font-size: 10px;
}
.price{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.price > :nth-child(2){
    margin-left: 20px;
    margin-bottom: 23px;
    font-size: 10px !important;
}
.card-desc a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 2px;
    border-radius: 10px;
    margin-inline: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background: hsl(158, 36%, 37%);
}
